[Unit]
Description=Remove Docker images no container is using
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker-image-gc.sh
